@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --menu-bg: #3B82F6;
    --menu-select: #2563EB;

    --search-bg: #E5E7EB;
    --search-bg-active: #D1D5DB;

    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.menu {
    background-color: var(--menu-bg);
    padding-top: 2rem;
    color: #ffffff;
}

.menu-header {
    display: flex;
    align-items: center;

    font-size: 2rem;
}

.menu-header > img {
    margin-right: 0.6rem;
    margin-left: 2.1rem;
}

.first-nav,
.second-nav {
    display: flex;
    flex-direction: column;
}

.first-nav > li,
.second-nav > li {
    display: flex;
    align-items: center;
    cursor: pointer;

    font-size: 1.2rem;
    padding: 0.5rem;
}

.first-nav > li > img,
.second-nav > li > img {
    margin-right: 0.6rem;
    margin-left: 2rem;
}

.first-nav > li:hover,
.second-nav > li:hover {
    background-color: var(--menu-select);
    transition: 0.2s;
}

.first-nav {
    margin: 2rem auto;
}

.profile-section {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

.search-section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    grid-area: search;
}

.profile-section > .top-section > .search-section > input {
    border: none;
    background-color: var(--search-bg);
    transition: 0.2s;

    padding: 1rem;
    border-radius: 25px;

    width: 100%;

    font-size: 1rem;
}

.profile-section > .top-section > .search-section > input:hover {
    background-color: var(--search-bg-active);
    transition: 0.2s;
}

.profile-section > .top-section > .search-section > input:focus {
    outline: none;
    background-color: var(--search-bg-active);
    transform: scale(1.01);
    transition: 0.2s;
}

.profile-section > .top-section > .account-section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    grid-area: account;
}

.profile-section > .top-section > .account-section > img[alt^="pfp"] {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.top-section {
    display: grid;
    grid-template-columns: 1fr 15rem auto;
    grid-template-areas: "search . account";
}

.bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-section {
    display: flex;
    gap: 2rem;
}

.button-section > button {
    color: white;
    border-radius: 8rem;
    background-color: var(--menu-bg);
    border: none;
    outline: none;

    width: 8rem;

    padding: 1rem;

    font-size: 1rem;
    font-weight: 700;
}

.button-section > button:hover {
    background-color: var(--menu-select);
    transition: 0.2s;
}

.bottom-profile-section > img {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
}

.greeting {
    display: flex;
    flex-direction: column;
}

.greeting > .hi {
    font-size: 1.2rem;
}

.greeting > .name {
    font-size: 2rem;
}

.bottom-profile-section {
    display: flex;
    align-items: center;
    gap: 2rem;
}